Repository PlaceOS/drivers, pull requests merged in 2022-03, with the labels that each got.

#283 feat: add Webex InstantConnect driver
  drivers/webex/instant_connect.cr
  drivers/webex/instant_connect_spec.cr
Labels: type: new driver

#290 adding desk_scan and activate booking into floorsense driver
  drivers/floorsense/desks.cr
  drivers/floorsense/desks_websocket.cr
Labels: type: driver, priority: high, type: enhancement

#289 feat: add crestron nvx drivers
  drivers/crestron/cres_next.cr
  drivers/crestron/nvx_address_manager.cr
  drivers/crestron/nvx_address_manager_spec.cr
  drivers/crestron/nvx_models.cr
  drivers/crestron/nvx_rx.cr
  drivers/crestron/nvx_rx_spec.cr
  drivers/crestron/nvx_scaler_control.cr
  drivers/crestron/nvx_scaler_control_spec.cr
  drivers/crestron/nvx_tx.cr
  drivers/crestron/nvx_tx_spec.cr
Labels: focus: backend, priority: high, product: placeos

#292 feat: add philips dynalite driver
  drivers/philips/dynalite.cr
  drivers/philips/dynalite_spec.cr
Labels: focus: backend, priority: medium, product: placeos

#285 Add Webex bot drivers
  drivers/cisco/webex/api/messages.cr
  drivers/cisco/webex/api/people.cr
  drivers/cisco/webex/api/rooms.cr
  drivers/cisco/webex/client.cr
  drivers/cisco/webex/command.cr
  drivers/cisco/webex/commands/echo.cr
  drivers/cisco/webex/commands/greeting.cr
  drivers/cisco/webex/constants.cr
  drivers/cisco/webex/exceptions/argument.cr
  drivers/cisco/webex/exceptions/method.cr
  drivers/cisco/webex/exceptions/rate_limit.cr
  drivers/cisco/webex/exceptions/status_code.cr
  drivers/cisco/webex/extensions/chainable.cr
  drivers/cisco/webex/models/device.cr
  drivers/cisco/webex/models/event.cr
  drivers/cisco/webex/models/events/activity.cr
  drivers/cisco/webex/models/events/actor.cr
  drivers/cisco/webex/models/events/data.cr
  drivers/cisco/webex/models/events/target.cr
  drivers/cisco/webex/models/events/type.cr
  drivers/cisco/webex/models/message.cr
  drivers/cisco/webex/models/peek.cr
  drivers/cisco/webex/models/person.cr
  drivers/cisco/webex/models/room.cr
  drivers/cisco/webex/session.cr
  drivers/cisco/webex/status_code.cr
  drivers/cisco/webex/utils.cr
  drivers/cisco/webex_bot.cr
  drivers/cisco/webex_bot_spec.cr
  drivers/place/desk_bookings_locations_spec.cr
  drivers/xy_sense/location_service_spec.cr
  shard.yml
Labels: type: new driver

#282 feat(place bookings): add booking notifier
  drivers/place/area_management.cr
  drivers/place/booking_approval_workflows.cr
  drivers/place/booking_approver.cr
  drivers/place/booking_check_in_helper_readme.md
  drivers/place/booking_model.cr
  drivers/place/booking_notifier.cr
  drivers/place/booking_notifier_readme.md
  drivers/place/booking_notifier_spec.cr
  drivers/place/bookings.cr
  drivers/place/desk_bookings_locations.cr
  drivers/place/desk_bookings_locations_spec.cr
Labels: focus: backend, priority: medium, product: placeos, type: enhancement
