Repository PlaceOS/drivers, pull requests merged in 2023-01, with the labels that each got.

#399 feat(survey): send invitation emails
  drivers/place/staff_api.cr
  drivers/place/survey_mailer.cr
Labels: type: enhancement

#405 feat(placeos/mailers): ISE network creds in Event and Booking emails
  drivers/cisco/ise/guests_spec.cr
  drivers/cisco/ise/models/internal_user.cr
  drivers/cisco/ise/network_access.cr
  drivers/cisco/ise/network_access_spec.cr
  drivers/place/booking_notifier.cr
  drivers/place/event_mailer.cr
  drivers/place/visitor_mailer.cr
Labels: type: driver, type: new driver, type: enhancement, status: review needed, type: new feature

#414 fix(placeos/booking_notifier): optional polling . rm unneeded wifi cred generation.
  drivers/place/booking_notifier.cr
Labels: type: driver, type: bug
